[Unit]
Description=Update AWS dynamic DNS record
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/aws-ddns --record {{ aws_record_name }} --hosted-zone-id {{ aws_hosted_zone_id }}

[Install]
WantedBy=multi-user.target
